@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Roboto:wght@400&display=swap');

/* Resets */

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary-color: #e53935;
  --dark-color: #ab000d;
  --light-color: #ff6f60;
}

/* Pokemon App */

.app__title {
  font-family: 'Bungee', sans-serif;
  text-align: center;
  font-size: 3rem;
  margin: 0;
  margin-top: 1rem;
  line-height: 4rem;
  color: var(--primary-color);
}

.app__description {
  text-align: center;
}

.pokemon {
  background-color: red;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0px 0px 22px 0px rgba(0,0,0,0.75);
  background-color: blue;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
